/*=============== CONTACT ===============*/
.contact {
	&__container {
		padding-bottom: 4.8rem;
	}
	&__desc {
		text-align: center;
	}
    &__content{
        row-gap: 1.2rem;
    }
	&__address {
		font-size: var(--small-font-size);
		font-weight: var(--font-semi-bold);
        color: var(--title-color);
	}
    &__info{
        font-weight: initial;
        color: var(--text-color);
    }
}
