/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.8rem;
  /*========== Colors ==========*/
  --hue: 45;
  --sat: 98%;
  --first-color: #fdcb35;
  --first-color-light: #feebb3;
  --first-color-lighten: #fee59a;
  --first-color-alt: #fdc212;
  --title-color: #282725;
  --text-color: #5d5b56;
  --text-color-light: #a9a8a2;
  --body-color: #ffffff;
  --container-color: #fff;
  --scroll-bar-color: #dadad7;
  --scroll-thumb-color: #c2c1bd;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3.2rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes ==========*/
  --mb-08: 0.8rem;
  --mb-12: 1.2rem;
  --mb-16: 1.6rem;
  --mb-24: 2.4rem;
  --mb-32: 3.2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4.8rem;
    --h2-font-size: 2.8rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*=============== BASE ===============*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-light: #fede81;
  --title-color: #f3f3f2;
  --text-color: #cecdca;
  --body-color: #212121;
  --container-color: #2c2a26;
  --scroll-bar-color: #55534e;
  --scroll-thumb-color: #403e3b;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 2.4rem;
  top: 3.5rem;
  color: var(--title-color);
  font-size: 2.8rem;
  cursor: pointer;
}

.dark-theme .footer {
  background-color: var(--container-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 7.2rem 0 1.6rem;
}
.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-16);
}

.svg__color {
  fill: var(--first-color);
}
.svg__blob {
  fill: var(--first-color-light);
}
.svg__img {
  width: 300px;
  justify-self: center;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: var(--mb-24);
  margin-right: var(--mb-24);
}

.grid {
  display: grid;
  gap: 2.4rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
}
.nav__logo {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    width: calc(100% - 48px);
    top: -100%;
    left: 0;
    right: 0;
    z-index: var(--z-fixed);
    margin: 0 auto;
    padding: 4rem;
    transition: 0.4s;
    border-radius: 3.2rem;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
}
.nav__link, .nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1.6rem);
}

/* Active link */
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 45%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/*=============== HOME ===============*/
.home__container {
  row-gap: 4.8rem;
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-12);
}
.home__desc {
  margin-bottom: var(--mb-32);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1a1a1a;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  font-weight: var(--font-semi-bold);
  font-size: 1.5rem;
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__header {
  margin: 0 1rem 0 auto;
}
.button-link {
  background: none;
  padding: 0;
  color: var(--title-color);
}
.button-link:hover {
  background-color: transparent;
}
.button__icon {
  font-size: 2.4rem;
}
.button-flex {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  padding: 1.2rem 1.6rem;
}

/*=============== ABOUT ===============*/
.about__container {
  gap: 4rem;
}
.about__data {
  text-align: center;
}

/*=============== SECURITY ===============*/
.security__container {
  gap: 4rem;
}
.security__data {
  text-align: center;
}

/*=============== SERVICES ===============*/
.services__container {
  padding-top: 1.6rem;
}
.services__data {
  display: grid;
  row-gap: 1.6rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(77, 56, 0, 0.15);
  padding: 3.2rem 2.4rem;
  border-radius: 1.6rem;
  text-align: center;
}
.services__img {
  width: 135px;
  justify-self: center;
  margin-bottom: var(--mb-08);
}

/*=============== APP ===============*/
.app__container {
  gap: 4rem;
}
.app__data {
  text-align: center;
}
.app__desc {
  margin-bottom: var(--mb-24);
}
.app__buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 0.8rem;
}

/*=============== CONTACT ===============*/
.contact__container {
  padding-bottom: 4.8rem;
}
.contact__desc {
  text-align: center;
}
.contact__content {
  row-gap: 1.2rem;
}
.contact__address {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.contact__info {
  font-weight: initial;
  color: var(--text-color);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--first-color-lighten);
  padding-bottom: 3.2rem;
}
.footer__container {
  row-gap: 3.2rem;
}
.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.footer__title, .footer__logo {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-12);
}
.footer__links {
  display: grid;
  row-gap: 0.8rem;
}
.footer__link {
  color: var(--title-color);
}
.footer__link, .footer__desc {
  font-size: var(--small-font-size);
}
.footer__social {
  display: flex;
  column-gap: 2.4rem;
}
.footer__social-link {
  color: var(--title-color);
  font-size: 2rem;
}
.footer__copyright {
  margin-top: 9.6rem;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  background-color: var(--first-color);
  right: 1.6rem;
  bottom: -20%;
  z-index: var(--z-tooltip);
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0.7;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--first-color);
  opacity: 1;
}
.scrollup__icon {
  color: var(--title-color);
  font-size: 2rem;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 4.8rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.8rem;
  background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px) {
  .svg__img {
    width: 100%;
  }
  .section {
    padding: 5.6rem 0 1rem;
  }
  .services__img {
    width: 100px;
  }
  .app__buttons {
    grid-template-columns: max-content;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .svg__img {
    width: 100%;
  }
  .section__title-center {
    text-align: initial;
  }
  .home__container,
  .about__container,
  .security__container,
  .services__container,
  .app__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    order: 1;
  }
  .home__container,
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    align-items: center;
  }
  .about__data,
  .security__data,
  .app__data,
  .contact__desc {
    text-align: initial;
  }
  .about__img,
  .app__img {
    order: -1;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 9.6rem 0 3.2rem;
  }
  .button {
    padding: 1.2rem 2.4rem;
  }
  .nav {
    height: calc(var(--header-height) + 2.4rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .home__container {
    padding: 9.6rem 0 3.2rem;
  }
  .app__buttons {
    justify-content: initial;
  }
}
/* For large devices */
@media screen and (min-width: 968px) {
  .button__header {
    display: block;
  }
  .svg__img {
    width: 470px;
  }
  .about__container,
  .security__container,
  .app__container,
  .contact__container {
    column-gap: 9.6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer__social {
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 2.32rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 540px;
  }
  .home__desc {
    padding-right: 8rem;
  }
  .footer__container {
    column-gap: 4.8rem;
  }
  .scrollup {
    right: 3.2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
